<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User</title>
        <link rel="stylesheet" href="./styles.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
        <script>
            hljs.highlightAll();
        </script>
    </head>
    <body>
        <div class="sidenav">
            <h1 class="top_side">Scopes:</h1>
            <a href="/about.html">About</a>
            <a href="/user.html">User</a>
            <a href="/post.html">Post</a>
            <a href="/search.html">Search</a>
        </div>
        <div class="main">
            <h1 id="Username">User</h1>
            <p class="p-description">
                Post: /{username} | 
                <a href="https://api.lost-umbrella.com/" 
                   hx-trigger="click" 
                   hx-get="/user/example_user" 
                   hx-swap="afterend">
                   Example
                </a>
              </p>
            <p>
                Use the <a href="#Username">{username}</a> in the path to
                retrieve the <a href="#UserMin">{UserMin}</a> structure.
            </p>

            <p class="p-description">GET: /{username}/posts |
                <a href="https://api.lost-umbrella.com/" 
                   hx-trigger="click" 
                   hx-get="/user/example_user/posts" 
                   hx-swap="afterend">
                   Example
                </a>
            </p>
            <p>Get all posts by the <a href="#Username">{username}</a>.</p>
            <p class="p-description">GET: /{username}/settings</p>
            <p>
                Using the <a href="#UserMin">{Auth}</a> structure to get user data in the form of the
                User structure for further use.
            </p>
            <p class="p-description">POST: /{username}/settings/changepass</p>
            <p>
                Send the <a href="#UserChangerAuth">{UserChangerAuth}</a> and
                <a href="#Username">{username}</a> structure for change account
                password.
            </p>
            <p class="p-description">POST: /{username}/settings/change</p>
            <p>
                Send the <a href="#UserChanger">{UserChanger}</a> and
                <a href="#Username">{username}</a> structure for change account
                password.
            </p>
            <p class="p-description">DELETE: /delete</p>
            <p>
                Send the <a href="#Auth">{Auth}</a> structure for delete
                account.
            </p>
            <p class="p-description">POST: /create</p>
            <p>
                Create the user using the <a href="#User">{User}</a> structure.
            </p>
            <p class="p-description">GET: /code/{name}</p>
            <p>
                Send <a href="#Username">{username}</a> for cend code to email (at once 5 min).
            </p>
            <p class="p-description">POST: /code/{code}</p>
            <p>
                Send code for recover password and take response.
            </p>
            <p class="p-description">
                Structures: User, UserMin, UserChanger, Auth
            </p>
            <div class="row">
                <div class="column">
                    <pre>
                        <code id="User" class="language-rust" style="background-color: rgb(161, 136, 187); border-radius: 16px;">
                            pub struct User {
                                pub name: String,
                                pub password: String,
                                pub email: String,
                                #[serde(default = "default_role")]
                                pub role: Role,
                            }
                        </code>
                    </pre>
                </div>
                <div id="UserMin" class="column">
                    <pre>
                        <code class="language-rust" style="background-color: rgb(161, 136, 187); border-radius: 16px; " >
                            pub struct UserMin {
                                pub name: String,
                                #[serde(default = "default_role")]
                                pub role: Role,
                            }
                        </code>
                    </pre>
                </div>

                <div class="column">
                    <pre>
                        <code id="Auth" class="language-rust" style="background-color: rgb(161, 136, 187); border-radius: 16px;" >
                            pub struct Auth {
                                pub name: String,
                                pub password: String,
                            }
                        </code>
                    </pre>
                </div>
                <div id="UserChangerAuth" class="column">
                    <pre>
                        <code class="language-rust" style="background-color: rgb(161, 136, 187); border-radius: 16px;" >
                            pub struct UserChangerAuth {
                                pub auth: Auth,
                                pub newpassword: String,
                            }
                        </code>
                    </pre>
                </div>
                <div id="UserChanger" class="column">
                    <pre>
                        <code class="language-rust" style="background-color: rgb(161, 136, 187); border-radius: 16px;" >
                            pub struct UserChanger {
                                pub user: User,
                                pub newpassword: String,
                            }
                        </code>
                    </pre>
                </div>
                
            </div>
            <form id="userForm" hx-trigger="submit" hx-post="/user/settings" hx-swap="outerHTML">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
              
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
              
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              
                <button type="submit">Submit</button>
              </form>
        
            <!-- Место для отображения результата запроса -->
            <div id="result" hx-target="#result" hx-swap="innerHTML"></div>
        </div>
    </body>
</html>
